<a href="https://colab.research.google.com/github/ani123789/code/blob/main/ass1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('helloworld')

helloworld

In [ ]:
Name,age,branch,collegename,address = "Animesh Sahoo", 21, "cse", "silicon","BBSR"
print("my name is:", Name)
print("my age is:", age)
print("my branch is:", branch)
print("my collegename is:",collegename)
print("my address is;",address)

my name is: Animesh Sahoo
my age is: 21
my branch is: cse
my collegename is: silicon
my address is; BBSR

In [ ]:
a= 10
b=5
print("addition of two number is :", a+b)
print("multipication of two number is :", a*b)
print("division of two number is:",a/b)
print("substraction of two number is :", a-b)

addition of two number is : 15
multipication of two number is : 50
division of two number is: 2.0
substraction of two number is : 5

In [ ]:
f=100
c=(5/9)*(f-32)
print("convertion of fahrenhite to centrigrade is:", c)

convertion of fahrenhite to centrigrade is: 37.77777777777778

In [2]:
import math
r=10
a=5
b=10
c=15
a1=3.14*r*r
s=(a+b+c)/2
a2= math.sqrt(s*(s-a)*(s-b)*(s-c))
p1=2*3.14*r
p2=a+b+c
print("area of circle is:", a1)
print("area of triangle is:", a2)
print("perimeter of circle is", p1)
print("perimeter of triangle is",p2)

area of circle is: 314.0
area of triangle is: 0.0
perimeter of circle is 62.800000000000004
perimeter of triangle is 30

In [ ]:
a=5
b=10
c=a
a=b
b=c
print("value of a after swapping:", a)
print("value of b after swapping:", b)

x=20
y=30
x,y=y,x
print("value of x after swapping:", x)
print("value of y after swapping:", y)

value of a after swapping: 10
value of b after swapping: 5
value of x after swapping: 30
value of y after swapping: 20

In [ ]:
p=10
r=5
t=2
si=(p*r*t)/100
print("simple interest is:", si)
ci=p*((1+r)**t)-p
print("pricipal intrest is :", ci)

simple interest is: 1.0
pricipal intrest is : 350

In [ ]:
days=456
month = days/30
print("month is:", month)
year = days/365
print("year is:", year)

month is: 15.2
year is: 1.2493150684931507

In [ ]:
bs=2000
ta=1000
da=300
hra=5000
gs=bs+ta+da+hra
print("gross salary is:", gs)

gross salary is: 8300

In [ ]:
ruppes=10500
paisa=ruppes*100
print("paisa is:", paisa)

paisa is: 1050000