<a href="https://colab.research.google.com/github/ani123789/code/blob/main/ass2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list = [1,2,3,4,5]
print("the elements are:", list)

the elements are: [1, 2, 3, 4, 5]

In [ ]:
list1 = [1,2,3,4,5]
list2=list1
print("the elements are:", list2)

the elements are: [1, 2, 3, 4, 5]

In [ ]:
list1=[1,2,3,4,5]
list2=[4,5,6,7,8]
list3=list1+list2
print("the elements are:", list3)

the elements are: [1, 2, 3, 4, 5, 4, 5, 6, 7, 8]

In [ ]:
cname="india, usa, srilanka, pakistan"
print(cname)

india, usa, srilanka, pakistan

In [ ]:
tupple=1,2,4,5,"animesh", "sam"
ele= "sam"
if ele in tupple:
  print("element", ele, " is available in :", tupple)
else :
  print("element is not availabel in :", tupple)

element is not availabel in : (1, 2, 4, 5, 'animesh', 'sam')

In [ ]:
dict= {1:"ani", 2:"sam", 3:"animesh"}
print(dict)

{1: 'ani', 2: 'sam', 3: 'animesh'}

In [ ]:
dict = {}
no_ele=int(input("enter the number of elements:"))
for i in range(no_ele):
  key=input("enter the value of key:")
  value=input("ente the value of value:")
  dict[key]=value
print(dict)

enter the number of elements:2
enter the value of key:1
ente the value of value:ani
enter the value of key:2
ente the value of value:sam
{'1': 'ani', '2': 'sam'}

In [ ]:
str=input("enter the string:")
print("the string is:",str)

enter the string:a,j,k,l,l,n
the string is: a,j,k,l,l,n

In [ ]:
str=input("enter the string:")
print("the string is:",str)
substr=in